<a href="https://colab.research.google.com/github/kvinne-anc/Data-Science-Notebooks/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Make Features 

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# [Objective](#feature-engineering) - The Purpose of Feature Engineering

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [ ]:
# Lets take a look at the Ames Iowa Housing Dataset:
source_url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'

In [ ]:
import pandas as pd 
import numpy as np 

iowa = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
iowa.head()

In [ ]:
# first few rows
iowa.head()

In [ ]:
# shape
iowa.shape

In [ ]:
# describe
iowa.describe

### Specific Columns hold specific kinds of data

In [ ]:
# column types
# pd.set_option('display.max_rows', 100)
pd.set_option('display.max_rows', 400) 

iowa.dtypes

Some columns hold integer values like the `BedroomAbvGr` which stands for "Bedrooms Above Grade." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/ryanleeallred/datasets/blob/master/Ames%20Housing%20Data/data_description.txt).

In [ ]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!
iowa['BedroomAbvGr'].head(10)

# another way to call columns: dot method

Some columns hold float values like the `LotFrontage` column.

In [ ]:
# Look at the first ten rows of the `BedroomAbvGr` column.
iowa['BedroomAbvGr'].head(10)

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [ ]:
iowa['LotFrontage'].value_counts(dropna=False)

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: What's the most common `LotFrontage` value for this column?

In [ ]:
# NaN is the most common value in this column. What is a NaN
iowa['LotFrontage'].value_counts(dropna=False).head()

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes seanse to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember, that Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [ ]:
# What is the datatype of NaN?
import numpy as np 
type(np.NaN)

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

In [ ]:
# how much missing data
iowa.isnull().sum()

In [ ]:
# drop missing data
iowa.dropna()

In [ ]:
# now how much missing data is there

iowa.isnull().sum()

In [ ]:
iowa['LotFrontage'].head()

In [ ]:
#no missing data

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice1`

In [ ]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
small_iowa = iowa[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']]

small_iowa.head()

### Syntax for creating new columns

When making a new column on a dataframe, we have to use the square bracket syntax of accessing a column. We can't use "dot syntax" here.

In [ ]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset
small_iowa['TotalSquareFootage'] = small_iowa['TotalBsmtSF'] + small_iowa['1stFlrSF'] + small_iowa['2ndFlrSF']

small_iowa.head()

In [ ]:
# Using bracket syntax to make a new 'TotalSquareFootage' column

In [ ]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage
small_iowa['PricePerSqFt'] = (small_iowa['SalePrice'] / small_iowa['TotalSquareFootage'])

small_iowa.head()

Ok, we have made two new columns on our small dataset.

- What does a **high** `PricePerSqFt` say about a home that the square footage and price alone don't capture as directly?

- What does a **low** `PricePerSqFt` say about a home that the square footage and price alone don't directly capture?

In [ ]:
## crosstabs
#focus on categorical variables 
iowa.columns

In [ ]:
# what are some categorical columns?
iowa[['LotShape', 'Alley', 'Street', 'SaleCondition']].sample(5)

In [ ]:
# values of sale condition
iowa['SaleCondition'].value_counts()

In [ ]:
# create a new categorical variable
iowa['NormalCondition'] = np.where(iowa['SaleCondition']=='Normal', 'yes', 'no')
iowa['NormalCondition'].value_counts()

In [ ]:
# value counts of a categorical variable
iowa['LotShape'].value_counts()

In [ ]:
# Map this from four down to 3 values
iowa['LotShape3'] = iowa['LotShape'].map({'Reg':'Regular',
                                          'IR1':'Irregular',
                                          'IR2':'Other',
                                          'IR3':'Other'})
iowa['LotShape3'].value_counts()

In [ ]:
# values
iowa['Neighborhood'].value_counts()

In [ ]:
# value counts of a categorical variable

In [ ]:
# one more way to map categorical variables
# replace using .loc 

iowa['Top_Neighborhood']='All Others'
iowa[['Top_Neighborhood', 'Neighborhood']].head()

In [ ]:
iowa.loc[iowa['Neighborhood']=='NAmes', 'Top_Neighborhood']='North Ames'
iowa[['Top_Neighborhood', 'Neighborhood']].sample(10)

In [ ]:
iowa.loc[iowa['Neighborhood']=='CollgCr', 'Top_Neighborhood']='College Circle'
iowa[['Top_Neighborhood', 'Neighborhood']].sample(10)

In [ ]:
iowa['Top_Neighborhood'].value_counts

In [ ]:
# crosstab!
pd.crosstab(iowa['Top_Neighborhood'], iowa['LotShape3'])

In [ ]:
# margins
pd.crosstab(iowa['Top_Neighborhood'], iowa['LotShape3'], margins=True)

In [ ]:
# as proportions

pd.crosstab(iowa['Top_Neighborhood'], iowa['LotShape3'], normalize='index', margins=True)
pd.crosstab(iowa['Top_Neighborhood'], iowa['LotShape3'], normalize='columns', margins=True)

In [ ]:
# display that
myresults = pd.crosstab(iowa['Top_Neighborhood'], iowa['LotShape3'])
myresults.plot(kind='bar')

In [ ]:
pd.crosstab(iowa['OverallQual'], iowa['Top_Neighborhood'])

In [ ]:
# Flip that

myresults.plot(kind='barh')

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective](#work-with-strings) Work with Strings with Pandas

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

The `!wget` shell command being used here does exactly the same thing that your browser does when you type a URL in the address. It makes a request or "gets" the file at that address. However, in our case the file isn't a webpage, it's a compressed CSV file. 

Try copying and pasting the URL from below into your browser, did it start an automatic download? Any URLs like this that start automatic downloads when navigated to can be used along with the `!wget` command to bring files directly into your notebook's memory.

### Load a new dataset

In [ ]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

We need to use the `!unzip` command to extract the csv from the zipped folder.

In [ ]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

As we look at the raw file itself, do you see anything that might cause us trouble as we read in the CSV file to a dataframe?

In [ ]:
# Read in the CSV
loans = pd.read_csv('LoanStats_2018Q4.csv.zip')
loans.head()

The extra rows at the top and bottom of the file have done two things:

1) The top row has made it so that the entire dataset is being interpreted as column headers

2) The bottom two rows have been read into the 'id' column and are causing every column to have at least two `NaN` values in it.

In [ ]:
loans = pd.read_csv('LoanStats_2018Q4.csv.zip', header=1, skipfooter=2, engine='python')
loans.head()

In [ ]:
loans.tail()

In [ ]:
# We can fix the header problem by using the 'skiprows' parameter

Lets look at the NaN values of each column so that you can see the problem that the extra rows at the bottom of the file are creating for us

In [ ]:
# Sum null values by column and sort from least to greatest
loans.isnull().sum().sort_values()

In [ ]:
# Address the extra NaNs in each column by skipping the footer as 

loans = pd.read_csv('LoanStats_2018Q4.csv.zip',
                    skiprows=1,
                    skipfooter=2,
                    engine='python')

print(loans.shape)
loans.head()

In [ ]:
loans.isnull().sum().sort_values()

For good measure, we'll also drop some columns that are made up completely of NaN values.

Why might LendingClub have included columns in their dataset that are 100% blank?

In [ ]:
loans1 = loans.drop(['url', 'member_id', 'desc', 'id'], axis=1)

print(loans1.shape)
loans1.head()

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically want to represent don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column

In [ ]:
# Look at the first 10 values of the int_rate column

loans1['int_rate'][:10]

In [ ]:
# Look at a specific value from the int_rate column
loans1['int_rate'][0]

Problems that we need to address with this column:

- String column that should be numeric
- Percent Sign `%` included with the number
- Leading space at the beginning of the string

However, we're not going to try and write exactly the right code to fix this column in one go. We're going to methodically build up to the code that will help us address these problems.

In [ ]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them
int_rate = '16.4%'

In [ ]:
# remove leading space

In [ ]:
int_rate.strip()

In [ ]:
int_rate.strip('%')

In [ ]:
# remove percent

In [ ]:
int_rate.strip().strip('%')

In [ ]:
# remove both

In [ ]:
type(int_rate.strip().strip('%'))

In [ ]:
# "Cast" the string value to a float
float(int_rate.strip().strip('%'))

In [ ]:
type(float(int_rate.strip().strip('%')))

### Write a function to make our solution reusable!

In [ ]:
# Write a function that can do what we have written above to any 
# string that is passsed to i
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [ ]:
# Test out our function by calling it on
  int_rate_to_float(int_rate)

In [ ]:
# is the data type correct?
type(int_rate_to_float(int_rate))

### Apply our solution to every cell in a column

In [ ]:
loans1['int_rate_float'] = loans1['int_rate'].apply(int_rate_to_float)

loans1.head()

In [ ]:
#for loop:
new_list=[]
for cell in loans['int_rate']:
  new_list.append(int_rate_to_float(cell))

In [ ]:
#look at first 10 values of that list

new_list[:10]

In [ ]:
# compare to original values
loans['int_rate'].head()

In [ ]:
# convert that list to a new column
loans['int_rate_clean']=pd.Series(new_list)

In [ ]:
#comparison 
loans[['int_rate', 'int_rate_clean']].sample(8)

In [ ]:
# What type of data is held in our new column?
loans['int_rate_clean'].dtype

There is a better way!

In [ ]:
# improve all of this code with the .apply function!
loans['int_rate_clean2'] = loans['int_rate'].apply(int_rate_to_float)

In [ ]:
#comparison
loans[['int_rate', 'int_rate_clean', 'int_rate_clean2']].sample(7)

## Challenge

We can create a new column with our cleaned values or overwrite the original, whatever we think best suits our needs. On your assignment you will take the same approach in trying to methodically build up the complexity of your code until you have a few lines that will work for any cell in a column. At that point you'll contain all of that functionality in a reusable function block and then use the `.apply()` function to... well... apply those changes to an entire column.

# [Objective](#pandas-apply) Modify and Create Columns using `.apply()`

## Overview

We're already seen one example of using the `.apply()` function to clean up a column. Lets see if we can do it again, but this time on a slightly more complicated use case.

Remember, the goal here is to write a function that will work correctly on any **individual** cell of a specific column. Then we can reuse that function on those individual cells of a dataframe column via the `.apply()` function.

Lets clean up the emp_title "Employment Title" column!

## Follow Along

First we'll try and diagnose how bad the problem is and what improvements we might be able to make.

In [ ]:
# Look at the top 20 employment titles
loans['emp_title'].head(20)

In [ ]:
# look at the top 20 rows
loans['emp_title'].value_counts(dropna=False).head(20)

In [ ]:
# How many different unique employment titles are there currently?
print(loans.shape)
len(loans['emp_title'].unique())

In [ ]:
# another way to do this

loans['emp_title'].nunique()

In [ ]:
# How often is the employment_title null?
loans['emp_title'].isnull().sum()

What are some possible reasons as to why a person's employment title may have not been provided?

In [ ]:
# Create some examples that represent the cases that we want to clean up
examples = ['owner', 'Supervisor', 'Project Manager', np.nan]

In [ ]:
# do that same function in individual steps

type('Supervisor')
isinstance('Supervisor', str)

In [ ]:
# what about the strip?

'Supervisor'.title().strip()

In [ ]:
# Write a function to clean up these use cases and increase uniformity.
def clean_title(jobtitle):
  if isinstance(jobtitle, str):
    return (jobtitle.title().strip())
  else:
      return 'Unknown'

In [ ]:
# test our function
clean_title(' SuperviSOR')
clean_title(np.nan)

In [ ]:
# create a for loop:
mylist = []
for jobtitle in examples:
  mylist.append(clean_title(jobtitle))
mylist

In [ ]:
# list comprehensions can combine function calls and for loops over lists
# into one succinct and fairly readable single line of code.

[clean_title(jobtitle) for jobtitle in examples]

In [ ]:
# We have a function that works as expected. Lets apply it to our column.
# This time we'll overwrite the original column

loans['clean_title'] = loans['emp_title'].apply(clean_title)

In [ ]:
# check our work
loans[['emp_title', 'clean_title']].head()

We can use the same code as we did earlier to see how much progress was made.

In [ ]:
# Look at the top 20 employment titles
loans['emp_title'].head(20)

In [ ]:
# How many different unique employment titles are there currently?

In [ ]:
# recoding a categorical

In [ ]:
# How often is the employment_title null (NaN)?

## Challenge

Using the .apply() function isn't always about creating new columns on a dataframe, we can use it to clean up or modify existing columns as well.

# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

Many of the most useful date columns in this dataset have the suffix `_d` to indicate that they correspond to dates.

We'll use a list comprehension to print them out

In [ ]:
loans.head()

In [ ]:
# list all columns
loans.columns

In [ ]:
# check out one column
loans['issue_d'].head()

In [ ]:
# as a for loop:
mylist = []
for col in loans.columns:
  if col.endswith('_d'):
    mylist.append(col)
mylist

In [ ]:
# as a list comprehension:
my_date_cols = [col for col in loans.columns if col.endswith('_d')]
my_date_cols

Lets look at the string format of the `issue_d` column

In [ ]:
# dtype
type(loans['issue_d'][0])

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [ ]:
# infer_datetime_format=True
loans['new_issue_d'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)

loans[['issue_d', 'new_issue_d']].head()

In [ ]:
# check our work
type(loans['new_issue_d'][3])

In [ ]:
print(loans['new_issue_d'].dtype)
loans['new_issue_d'].dtype

Now we can see that the `issue_d` column has been changed to hold `datetime` objects.

Lets look at one of the cells specifically to see what a datetime object looks like:

In [ ]:
loans['new_issue_d'].head(1).values

You can see how the month and year have been indicated by the strings that were contained in the column previously, and that the rest of the values have been inferred.

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [ ]:
loans['year'] = loans['new_issue_d'].dt.year
loans[['issue_d', 'new_issue_d', 'year']].head()

Now the month.

In [ ]:
loans['month'] = loans['new_issue_d'].dt.month
loans[['issue_d', 'new_issue_d', 'year', 'month']].head()

In [ ]:
# look at their types!

loans['weekday'] = loans['new_issue_d'].dt.weekday
loans[['issue_d', 'new_issue_d', 'year', 'month', 'weekday']].sample(8)

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [ ]:
# same thing, diff var
loans['new_pull'] = pd.to_datetime(loans['last_credit_pull_d'])
loans['month'] = loans['new_issue_d'].dt.month
loans[['issue_d', 'new_issue_d', 'year', 'month']].head()

Because all of these dates come from Q4 of 2018, the `issue_d` column isn't all that interesting. Lets look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

We're going to create a new column called `days_from_earliest_credit_to_issue`

It's a long column header, but think about how valuable this piece of information could be. This number will essentially indicate the length of a person's credit history and if that is correlated with repayment or other factors could be a valuable predictor!

In [ ]:
# date arithmetic
loans['day_diff'] = loans['new_issue_d'] - loans['new_pull']

In [ ]:
# check that out
loans[['last_credit_pull_d', 'new_pull', 'day_diff']].head()

In [ ]:
loans['day_diff'].value_counts().sort_index().tail()

What we're about to do is so cool! Pandas' datetime format is so smart that we can simply use the subtraction operator `-` in order to calculate the amount of time between two dates. 

Think about everything that's going on under the hood in order to give us such straightforward syntax! Handling months of different lengths, leap years, etc. Pandas datetime objects are seriously powerful!

In [ ]:
loans['earliest_cr_line'].head()

What's oldest credit history that was involved in Q4 2018?

In [ ]:
loans['earliest_cr_line'].tail()

In [ ]:
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [ ]:
loans.columns

In [ ]:
loans['days_from_earliest_credit_to_issue'] = round((loans['new_issue_d'] - loans['earliest_cr_line']).dt.days / 365, 1)

In [ ]:
loans['days_from_earliest_credit_to_issue'].head()

In [ ]:
#I don't know how to change the it to make the arrays match - so confused but need to finish

In [ ]:
#I searched Stackoverflow to figure out why I was getting an attribute error 'timedelta properties' and I discovered that month and years are not dateime attributes because they are not uniformily defined. 
#I used 'round' to workaround the issue.

In [ ]:
#Convert the term column from string to integer.
loans['term'] = loans['term'].astype(str)
loans['term'].dtype

In [ ]:
loans.describe()

In [ ]:
#Make a column named loan_status_is_great. 


loans['loan_status_is_great'] = (loans.loan_amnt - loans.funded_amnt)
loans['loan_status_is_great'].sample(8)

In [ ]:
#It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
#take another look at 'if than' 'for' 'else' statements 
loans['loan_status'].head()

In [ ]:

#Make last_pymnt_d_month and last_pymnt_d_year columns.
#Search the beginning again and see how best to define these

25,171 days is ~ 68.96 years of credit history!

## Challenge

Pandas' datetime format is so easy to work with that there's really no excuse for not using dates to make features on a dataframe! Get ready to practice more of this on your assignment.