<a href="https://colab.research.google.com/github/kvinne-anc/Data-Science-Notebooks/blob/main/FeatureExtraction_JobsDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import re as re
import string
import bs4
import time

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
job = pd.read_csv('/content/job_listings.csv')
job

     Unnamed: 0  ...                                              title
0             0  ...                                    Data scientist
1             1  ...                                   Data Scientist I
2             2  ...                       Data Scientist - Entry Level
3             3  ...                                     Data Scientist
4             4  ...                                     Data Scientist
..          ...  ...                                                ...
421         421  ...                       Senior Data Science Engineer
422         422  ...  2019 PhD Data Scientist Internship - Forecasti...
423         423  ...                         Data Scientist - Insurance
424         424  ...                              Senior Data Scientist
425         425  ...                                     Data Scientist

[426 rows x 3 columns]

In [ ]:
print(job)
def remove_tags(string):
    result = re.sub('<.*?>','',string)
    return result
job['with_out_tags']=job['description'].apply(lambda cw : remove_tags(cw))
print("\nSentences without tags':")
print(job)

     Unnamed: 0  ...                                      with_out_tags
0             0  ...  b"<div><div>Job Requirements:</div><ul><li><p>...
1             1  ...  b'<div>Job Description<br/>\n<br/>\n<p>As a Da...
2             2  ...  b'<div><p>As a Data Scientist you will be work...
3             3  ...  b'<div class="jobsearch-JobMetadataHeader icl-...
4             4  ...  b'<ul><li>Location: USA \xe2\x80\x93 multiple ...
..          ...  ...                                                ...
421         421  ...  b"<b>About Us:</b><br/>\nWant to be part of a ...
422         422  ...  b'<div class="jobsearch-JobMetadataHeader icl-...
423         423  ...  b'<div class="jobsearch-JobMetadataHeader icl-...
424         424  ...  b"<p></p><div><p>SENIOR DATA SCIENTIST</p><p>\...
425         425  ...  b'<div></div><div><div><div><div><p>Cerner Int...

[426 rows x 4 columns]

Sentences without tags':
     Unnamed: 0  ...                                      with_out_tags
0             0  ...  b"Job Requirements:\nConceptual understanding ...
1             1  ...  b'Job Description\n\nAs a Data Scientist 1, yo...
2             2  ...  b'As a Data Scientist you will be working on c...
3             3  ...  b'$4,969 - $6,756 a monthContractUnder the gen...
4             4  ...  b'Location: USA \xe2\x80\x93 multiple location...
..          ...  ...                                                ...
421         421  ...  b"About Us:\nWant to be part of a fantastic an...
422         422  ...  b'InternshipAt Uber, we ignite opportunity by ...
423         423  ...  b'$200,000 - $350,000 a yearA million people a...
424         424  ...  b"SENIOR DATA SCIENTIST\nJOB DESCRIPTION\n\nAB...
425         425  ...  b'Cerner Intelligence is a new, innovative org...

[426 rows x 4 columns]

In [ ]:
job.head()

   Unnamed: 0  ...                                      with_out_tags
0           0  ...  b"Job Requirements:\nConceptual understanding ...
1           1  ...  b'Job Description\n\nAs a Data Scientist 1, yo...
2           2  ...  b'As a Data Scientist you will be working on c...
3           3  ...  b'$4,969 - $6,756 a monthContractUnder the gen...
4           4  ...  b'Location: USA \xe2\x80\x93 multiple location...

[5 rows x 4 columns]