<a href="https://colab.research.google.com/github/kvinne-anc/Data-Science-Notebooks/blob/main/Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Pandas
---
# 02 - Loading Data
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

### Import pandas with the "pd" alias.

In [ ]:
import pandas as pd

### Import the data in the CSV file.
Today you'll be working with some GDP data. You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv).

### Print out the first 7 rows.

In [ ]:
nook = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv") 
nook

     Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0             0     Afghanistan           21.71  AFG
1             1         Albania           13.40  ALB
2             2         Algeria          227.80  DZA
3             3  American Samoa            0.75  ASM
4             4         Andorra            4.80  AND
..          ...             ...             ...  ...
217         217  Virgin Islands            5.08  VGB
218         218       West Bank            6.64  WBG
219         219           Yemen           45.45  YEM
220         220          Zambia           25.61  ZMB
221         221        Zimbabwe           13.74  ZWE

[222 rows x 4 columns]

In [ ]:
print(nook.loc[[0,1,2,3,4,5,6]])

   Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND
5           5          Angola          131.40  AGO
6           6        Anguilla            0.18  AIA

In [ ]:
nook.head(7)

   Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND
5           5          Angola          131.40  AGO
6           6        Anguilla            0.18  AIA

### Print out the last 3 rows.

In [ ]:
print(nook.loc[[219,220,221]])

     Unnamed: 0    COUNRY  GDP (BILLIONS) CODE
219         219     Yemen           45.45  YEM
220         220    Zambia           25.61  ZMB
221         221  Zimbabwe           13.74  ZWE

In [ ]:
nook.tail(3)

     Unnamed: 0    COUNRY  GDP (BILLIONS) CODE
219         219     Yemen           45.45  YEM
220         220    Zambia           25.61  ZMB
221         221  Zimbabwe           13.74  ZWE

### What is the shape of the DataFrame?

In [ ]:
print(nook.shape)

(222, 4)

### What is the data type of each column/feature?
Hint: We didn't cover this, Google it!  

Hint 2: Columns and features are interchangeable when talking about DataFrames or tabular data in general.

In [ ]:
nook.dtypes

Unnamed: 0          int64
COUNRY             object
GDP (BILLIONS)    float64
CODE               object
dtype: object

### Rename the column "Counry" to "Country".

In [ ]:
nook.columns

Index(['Unnamed: 0', 'COUNRY', 'GDP (BILLIONS)', 'CODE'], dtype='object')

In [ ]:
list(nook.columns)

['Unnamed: 0', 'COUNRY', 'GDP (BILLIONS)', 'CODE']

In [ ]:
nook.drop(nook.columns[0], axis=1)

             COUNRY  GDP (BILLIONS) CODE
0       Afghanistan           21.71  AFG
1           Albania           13.40  ALB
2           Algeria          227.80  DZA
3    American Samoa            0.75  ASM
4           Andorra            4.80  AND
..              ...             ...  ...
217  Virgin Islands            5.08  VGB
218       West Bank            6.64  WBG
219           Yemen           45.45  YEM
220          Zambia           25.61  ZMB
221        Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [ ]:
nook.rename(columns={'COUNRY':'COUNTRY'}, inplace=True) 
nook.head()

   Unnamed: 0         COUNTRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND

### Verify the change persisted!

In [ ]:
nook.head()

   Unnamed: 0         COUNTRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_1_2): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."
4.  TBD 



---

The question below is _optional_. Only tackle it after you've completed the rest of the assignment!

### STRETCH: Tying it back to Lesson 01...

*  What is the max GDP?
*  Min GDP?
*  Median GDP?
*  Standard Deviation of GDP?