<a href="https://colab.research.google.com/github/kvinne-anc/Data-Science-Notebooks/blob/main/Python_Functions_and_Packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# 04 - Python Functions & Packages
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

## Part 1: Functions

### Built-in functions


---


Make sure to run the cell below before beginning your assignment.

In [ ]:
x = ["a", "b", "c", "d", "e", "f"]
x

['a', 'b', 'c', 'd', 'e', 'f']

### 1.1 For the list of values provided:


*   Max?
*   Min?
*   Number of elements in the list?
*   Sort the list in _descending_ order.

In [ ]:
max(x)

'f'

In [ ]:
min(x)

'a'

In [ ]:
len(x)

6

In [ ]:
x.sort(reverse = True)

x

['f', 'e', 'd', 'c', 'b', 'a']

### Methods


---

### 1.2 Using the same list:

*  Remove the second to last element. 
*  Add the letter "z" to the list.
*  Empty out the list.

In [ ]:
x.append('z')
x

['f', 'd', 'c', 'b', 'a', 'z']

### 1.3 For the string provided:

* Capitalize the entire string.
* Split the string at every empty space.

In [ ]:
y = "to thine own self be true, and it must follow, as the night the day, thou canst not then be false to any man."

In [ ]:
y.capitalize()

'To thine own self be true, and it must follow, as the night the day, thou canst not then be false to any man.'

### Custom Functions


---

### 1.4 Create a function that returns the sum of two numbers.

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def for num in num_list:
  total += num_list
    return total

    # I am not understanding how to define these variables, the example seems to show simply writing some short version that denotes an item.

SyntaxError: ignored

### 1.5 Create a function that, given a list of numbers, returns their average.

In [ ]:
data = [1, 2, 3, 10, 33, 16, 22, 87, 4]

def mean(num_list):
  total = 0 
  for num in num_list:
    total += num
    average = total / len(num_list)
  return average 

mean(data)

19.77777777777778

### 1.6 Create a function that, given a string, returns that string capitalized and reversed.

In [ ]:
y = "This is a string"

def caprev(words):
  for wor in words: 
    new = y.capitzalize()
    newz = (new) + y.reverse()
  return newz

  #I don't know if this worked but it doesn't seem like it - how can I apply these principles to strings?

### 1.7 Create a function that, given a list of strings, concatenates them together with proper spacing.

In [ ]:
orig_string = 'Hello'
orig_string + ', world'

'Hello, world'

In [ ]:
orig_string
full_sentence = orig_string + ', world'
full_sentence

'Hello, world'

## Part 2: Packages

### 2.1 Import the Random library and use it to create a list of ten random numbers from 0-50.
There are several ways to do this. Google around and find one that you can replicate here.

In [ ]:
import random

from random import seed 
from random import random 

seed(4)

for i in range(10):
  value = random()
  print(value)

  # this is the only one I found that worked and I don't fully understand these commands but I also don't have a lot of time

0.23604808973743452
0.1031660342307158
0.396058242610681
0.15497227080241027
0.06651509567958991
0.40159101448507484
0.9179550430877189
0.8004523514958085
0.7651626025054384
0.22192817569031764

### 2.2 Import the Numpy library and assign it an alias "np". Then change the list of random numbers you generated into a Numpy array.

In [ ]:
import numpy as np

np.array(value)

# No idea what went wrong and why I only have one number and not a list

array(0.22192818)

### 2.3 Calculate the mean of the Numpy array. (Hint: Numpy has a method for this.)

In [ ]:
np.mean([1, 4, 7, 2, 3, 8, 10, 22, 64, 97])

21.8

### Easter Egg: 
In the cell below, run the following command and see what happens :)  
`import this`

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_1_2): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."
4.  TBD