<a href="https://colab.research.google.com/github/kvinne-anc/Data-Science-Notebooks/blob/main/Python_Lists_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# 03 - Python Lists & Loops
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

## Part 1: Lists

### Use the provided lists to answer the questions and prompts.
Make sure to run the cell so the lists are declared with their corresponding values.

In [ ]:
heights = [184, 177, 190, 188, 159, 166]
weights = [84.5, 81.8, 86.1, 92.2, 69.6, 72.0 ]
names = ['John', 'Ryan', 'Bobby', 'Pete', 'Esther', 'Jane']

### 1.1 Create a new empty list named "BMI".

In [ ]:
BMI = []

### 1.2 Combine the three lists into a new list where each element is a person's name, weight, and height. Call it "person_data".

In [ ]:
person_data = (['John', 184, 84.5],['Ryan', 177, 81.8],['Bobby', 190, 86.1],['Pete', 188, 92.2,],['Esther', 159, 69.6],['Jane', 166, 72.0])
type(person_data)

tuple

### 1.3 Retrieve the last element of person_data.

In [ ]:
person_data = [['John', 184, 84.5],['Ryan', 177, 81.8],['Bobby', 190, 86.1],['Pete', 188, 92.2,],['Esther', 159, 69.6],['Jane', 166, 72.0]]

person_data

[['John', 184, 84.5],
 ['Ryan', 177, 81.8],
 ['Bobby', 190, 86.1],
 ['Pete', 188, 92.2],
 ['Esther', 159, 69.6],
 ['Jane', 166, 72.0]]

In [ ]:

person_data[5]

['Jane', 166, 72.0]

### 1.4 Retrieve the 2nd and 3rd elements of person_data.

In [ ]:
person_data[1], person_data[2]

(['Ryan', 177, 81.8], ['Bobby', 190, 86.1])

In [ ]:
person_data[1:3]

[['Ryan', 177, 81.8], ['Bobby', 190, 86.1]]

### 1.5 Change the 1st element of person_data: increase weight to 84.9. Keep the other values unchanged.

In [ ]:
person_data[0][2]=84.9
person_data

[['John', 184, 84.9],
 ['Ryan', 177, 81.8],
 ['Bobby', 190, 86.1],
 ['Pete', 188, 92.2],
 ['Esther', 159, 69.6],
 ['Jane', 166, 72.0]]

### 1.6 Add another person, Samantha, to person_data. Her height is 162 cm and her weight is 51.3 kg.

In [ ]:
person_data

[['John', 184, 84.9],
 ['Ryan', 177, 81.8],
 ['Bobby', 190, 86.1],
 ['Pete', 188, 92.2],
 ['Esther', 159, 69.6],
 ['Jane', 166, 72.0]]

In [ ]:
person_data.append(['Samantha', 162, 51.3])

person_data

[['John', 184, 84.9],
 ['Ryan', 177, 81.8],
 ['Bobby', 190, 86.1],
 ['Pete', 188, 92.2],
 ['Esther', 159, 69.6],
 ['Jane', 166, 72.0],
 ['Samantha', 162, 51.3]]

## Part 2: Loops

### 2.1 Explain a for loop in your own words.

In [ ]:
# Comment your answer like so...
# A for loop is a way of printing out values or things in a list, and iterating over a sequence

*Or add it to this Text Cell...*

### 2.2 Use a for loop to calculate the BMI of each person.
>$\frac{Weight(kg)}{Height(m)^2} = BMI$

In [ ]:
# I can't figure this out for my LIFE 
# So I am moving on - I don't understand how to pinpoint the values 
# that I want in my formula, and it doesn't seem like it should be this complicated

### 2.2 BONUS: Do it using list comprehension.

In [ ]:
# No idea